{% load static %}

<div class="navbar-fixed">
    <nav class="main-navbar">
        <div class="nav-wrapper">           
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                 <li><a class="main-menu-items" href="{% url 'index' %}">Главная</a></li>
                 <li><a class="main-menu-items" href="{% url 'handbook' %}">Учебник</a></li>
                 <li><a class="main-menu-items" href="{% url 'dictionary' %}">Словарь</a></li>
                 <li><a class="main-menu-items" href="{% url 'authors' %}">Личности</a></li>
                 <li><a class="main-menu-items" href="{% url 'literature' %}">Литература</a></li>
            </ul>
        </div>
    </nav>
</div>
