{% extends 'semsite/base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'semsite/css/base.css' %}">
<link rel="stylesheet" href="{% static 'semsite/css/dictionary.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'semsite/js/basic_functions.js' %}"></script>
{% endblock %}

{% block content %}
<div>
    <div class="header-image" style="background-image: url('{% static 'semsite/img/header1.jpg' %}');">
        <center><h1>Личности</h1></center>
    </div>
</div>


<div class="row main-row">
    <div class="col s1"></div>

    <div class="col s10"></div>

    <div class="col s1"></div>
</div>

<script>
function showMenu() {
    $('#menu-column2').toggleClass('non-visible visible');
    $('#menu-column').toggleClass('visible non-visible');
    $('#content-column').toggleClass('s11 s9');
}
</script>
{% endblock %}
