{% extends 'semsite/base.html'%}
{% load static %}
{% load commands %}

{% block content %}
<div>
	<div class="header-image" style="background-image: url('{% static 'semsite/img/header1.jpg' %}');">
	    <center><h1>Словарь</h1></center>
	</div>
</div>

<div class="row main-row">
	<div class="col s1 nav-col">
		<div class="letter-nav">
			<center>
			{% for letter in alphabet %}
				<a href="#{{ letter }}" class="side-letter"><p>{{ letter }}</p></a>
			{% endfor %}
		    </center>
		</div>
	</div>

	<div class="col s10 page-content-col" id="content-column" style="text-align: left;">
		{% for letter in alphabet %}
		    {% if terms|in_category_terms:letter %}
				<div class="dict-row row">
					<div class="letter-col col s3">
						<p class="dict-letter" id="{{ letter }}">{{ letter }}</p>
					</div>

					<div class="col s9">
						<div class="termins-row">
							{% for term in terms|in_category_terms:letter %}
		                        {% if forloop.counter0|divisibleby:3 %}
		                            </div>
		                            <div class="termins-row">
		                        {% endif %}

								<div class="col s4">
									<a class="termin" href="{% url 'termin' term.slug %}"><p>{{ term.names[0] }}</p></a>
								</div>
							{% endfor %}
						</div>
				    </div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="col s1"></div>
</div>

{% endblock %}
