{% extends 'semsite/base.html'%}
{% load static %}
{% load commands %}


{% block content %}
    {% include 'semsite/blocks/menu.html' %}

<div>
    <div class="header-image" style="background-image: url('{% static 'semsite/img/header1.jpg' %}');">
        <center><h1>Учебник</h1></center>
    </div>
</div>

<div class="row main-row" style="margin-top: 1%;">
    <div class="col s1"></div>

    <div class="col s10 page-content-col" id="content-column">
    	<p class="page-header">Структура учебника</p>
        <p class="regular-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p class="regular-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="col s1"></div>
</div>

{% endblock %}
