{% extends 'semsite/base.html'%}
{% load static %}
{% load commands %}

{% block css %}
<link rel="stylesheet" href="{% static 'semsite/css/base.css' %}">
<link rel="stylesheet" href="{% static 'semsite/css/index.css' %}">
<link rel="stylesheet" href="{% static 'semsite/css/handbook.css' %}">
{% endblock %}


{% block content %}
<script>
    function changeData(title, text) {
        $('#article-title').text(title);
        $('#article-text').html(text);
    }
</script>

<div class="row main-row">

	<div class="col s2 side-menu-col">
		<ul class="side-nav-fixed">
			{% if handbook_articles %}
                {% for article in handbook_articles %}
                    <li class="bold"><a class="side-menu-item" onclick="changeData('{{ article.title }}', '{{ article.text|safe|fix_text }}')">{{ article.title }}</a></li>
                {% endfor %}
			{% else %}
    			<li class="bold"><a class="side-menu-item">Название статьи</a></li>p>
			{% endif %}
		</ul>
	</div>

{% if handbook_articles %}
	<div class="col s10 page-content-col">
        <p class="page-header" id="article-title">{{ handbook_articles.0.title }}</p>
        <img src="{% static 'semsite/img/testpic.jpg' %}" style="height: 250px !important;">
        <div id="article-text">{{ handbook_articles.0.text|safe }}</div>
{% else %}
    <p style="margin: 0px;">No articles.</p>
{% endif %}

	</div>
</div>

{% endblock %}
