{% extends 'semsite/base.html'%}
{% load static %}


{% block content %}

<div>
    <div class="header-image" style="background-image: url('{% static 'semsite/img/header1.jpg' %}');">
        <center><h1>Учебник по русской семантике</h1></center>
    </div>
</div>

<div class="row main-row">
    <div class="col s1"></div>

	<div class="container page-content-col col s10" id="content-column">
		<div>
			<p class="page-header" id="sec1">О проекте</p>
			<p class="regular-text">Этот проект экспериментальный. Его основная задача – разработка учебника по семантике нового формата, опирающегося на широкие возможности интернет-среды. Мы хотим, чтобы такой учебник был интереснее, красочнее и удобнее традиционных бумажных пособий.
            <br/><br/>
			Такая задача сопряжена с целым рядом вопросов: как структурировать материал? как использовать новые возможности максимально полно? какого рода задания давать? насколько длинными должны быть фрагменты текста? каков должен быть процент схем, таблиц и картинок? Этот сайт представляет собой своего рода полигон для методических, научных и творческих экспериментов.
            <br><br/>
			Ещё один учебно-методический эксперимент в рамках этого проекта заключается в том, что первая версия сайта целиком и полностью создана студентами, причем не инициативной группой из 5-10 человек, а целым курсом, насчитывающим почти 60 учащихся.</p>

		    <p class="page-header" id="sec2">Кто мы такие</p>
			<p class="regular-text">Сайт создавали и наполняли студенты 3 курса школы лингвистики НИУ ВШЭ в 2018 году.
				<br><br/>
				<b>Разработчики сайта:</b><br>Анна Кондратьева, Марк Соболев, Евгений Глазунов, Дмитрий Татаринов, Дарья Максимова, Устинья Кошелева.
				<br><br/>
				<b>Над главами работали:</b>
				<br>
				<ul class="browser-default" style="font-size: 1.1rem;">
					<li>Глава "Вводная (история семантики)": Виолетта Иванова, Анна Сорокина, Анна Симонян, Надежда Григорьева, София Саттарова, Анастасия Макарович, Ирина Астафьева</li>

					<li>Глава "Референция": Анастасия Костяницына, Екатерина Мизерова, Борис Минкевич, Валерия Козенашева</li>

					<li>Глава "Имплицитные смыслы": Наталья Энгель, Элина Петухова, Ксения Христосова, Татьяна Масуми, Лилия Казакова, Таисия Метелкина</li>

					<li>Глава "Фон и фигура (фасадность)": Евгений Лапин, Даниил Фролов, Алексей Кошевой, Мария Терехина, Анна Клезович, Александра Матвеева</li>

					<li>Глава "Метонимия": Владислава Александрова, Ольга Рудина, Никита Зминовский, Мария Царёва</li>

					<li>Глава "Полисемия (лексические функции)": София Дурнева, Анастасия Орленко, Оксана Ковалева, Анна Зуева</li>

					<li>Глава "Семантические роли": Евгения Слепак, Федор Голосов, Матвей Соколовский, Степан Михайлов, Ксения Романова, Маргарита Пинигина, Александра Овчинникова, Алексей Федоренко, Михаил Воронов</li>

					<li>Глава "Дистрибутивная семантика": Ирина Пантелеева, Наталья Ермолаева, Тамара Здорова, Елена Сокур, Артем Копецкий, Алина Шаймарданова, Евгения Миллер</li>
				</ul>

				<b>Кураторы проекта:</b><br>
				<ul class="browser-default" style="font-size: 1.1rem;">
				    <li>Екатерина Рахилина (rakhilina@gmail.com)</li>
				    <li>Валентина Апресян (valentina.apresjan@gmail.com)</li>
				    <li>Татьяна Резникова (tanja.reznikova@gmail.com)</li>
				    <li>Дарья Рыжова (daria.ryzhova@mail.ru)</li>
				</ul>
		    </p>
		</div>
	</div>

    <div class="col s1"></div>
</div>

{% endblock %}
