html, body {
	width: 100vw !important;
	overflow-x: hidden !important;
}

.main-row {
	width: 100% !important;
	margin-bottom: 0px;
	padding: 0px;
	margin: 0px;
	height: 100% !important;
}

.side-menu-icon-col {
	background-color: #29283f;
	color: white;
	padding-left: 2% !important;
	padding-top: 35vh !important;
}

.side-menu-col {
	background-color: #29283f;
	color: white;
	padding-top: 1.5% !important;
	padding-left: 1.5% !important;
}

.page-content-col {
	background-color: white;
	color: #29283f;
	margin-left: 0px !important;
	padding-left: 0% !important;
	padding-right: 0% !important;
	padding-top: 3% !important;
	padding-bottom: 3% !important;
}

.main-navbar {
	background-color: #b43630;
}

.brand-logo {
	width: 17%;
}

.main-menu-items {
    font-size: 1.1rem !important;	
}

.logo-img {
	width: 90%;
	margin-top: 15%;
	margin-left: 17%;
}

.logo-title-col {
	padding-left: 1% !important;
}

.logo-title {
	font-size: 1.1vw;
	line-height: 1.4vw;
	margin-top: 14%;
}

.hide-on-med-and-down {
	margin-left: 7% !important;
}

.bold {
    line-height: 35px;
    cursor: pointer !important;
}

.side-menu-item {
    font-size: 1.1rem !important; 
    line-height: 0.5rem;
    color: white !important;
    cursor: pointer;	
}