
.page-header {
	font-size: 1.7rem;
}

.page-header:first-child {
    margin-top: 0px !important;
 }

 .bold {
	line-height: 44px !important;
}

.visible {
	display: block;
}

.non-visible {
	display: none;
}